@font-face {
    font-family: 'Nexa';
    src: url(../fonts/Nexa-Bold.otf) format('truetype');
    src: url(../fonts/Nexa-Light.otf) format('truetype');
  }
* {
      font-family: 'Nexa';
    }

nav {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
nav img {
    width: 200px;
}
nav i {
    margin: 10px 15px;
    float: right;
    align-self: center;
 }